:root {
  --dl-color-pimary-laranjavivo: #e92b2bff;
  --dl-color-gray-900: #c3c5c9ff;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-color-pimary-900: #f2f5f9ff;
  --dl-space-space-unit: 1rem;
  --dl-size-size-halfunit: 0.5rem;
  --dl-radius-radius-round: 50%;
  --dl-size-size-doubleunit: 2rem;
  --dl-size-size-tripleunit: 3rem;
  --dl-space-space-halfunit: 0.5rem;
  --dl-radius-radius-radius4: 4px;
  --dl-space-space-fiveunits: 5rem;
  --dl-radius-radius-radius25: 0.25rem;
  --dl-radius-radius-radius50: 0.5rem;
  --dl-radius-radius-radius75: 0.75rem;
  --dl-space-space-doubleunit: 2rem;
  --dl-space-space-tripleunit: 3rem;
  --dl-space-space-twoandhalf: 2.5rem;
  --dl-space-space-unitandhalf: 1.5rem;
  --dl-color-pimary-laranjavivo: #e92b2bff;
  --dl-space-space-triplequarter: 0.75rem;
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
  padding: 0;
}
.button {
  margin: 0.25rem;
  display: flex;
  align-self: center;
}
.textarea {
  color: var(--dl-color-gray-900);
  cursor: auto;
  padding: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  width: 100%;
  align-self: center;
  color: var(--dl-color-gray-900);
  cursor: auto;
  margin: var(--dl-space-space-halfunit);
  padding: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.icons-sidebar-nav {
  fill: var(--dl-color-gray-white);
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
}
.icons-sidebar-nav:hover {
  color: #e92b2b;
  transition: 0.1s;
}
.icons-listas {
  fill: var(--dl-color-gray-white);
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  font-weight: 600;
  margin-left: 0.1rem;
}
.icons-listas:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.icons-sidebar-perfil {
  fill: #e92b2b;
  width: 0.7rem;
  height: 0.7rem;
  align-self: center;
  font-weight: 600;
  margin-left: 0.2rem;
}
.icons-sidebar-perfil:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.texto {
  color: white;
  margin: 0.25rem;
  font-size: 0.75rem;
  align-self: center;
  font-family: Source Sans Pro;
  font-weight: 600;
  align-content: center;
}
.texto-botoes-perfil-sidebar {
  color: var(--dl-color-gray-white);
  margin: 0.25rem;
  font-size: 0.55rem;
  font-family: Source Sans Pro;
  font-weight: 500;
}
.containers-modals-inputs {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.labels-modals {
  color: var(--dl-color-gray-white);
  align-self: center;
  font-family: Source Sans Pro;
  font-weight: 700;
}
.inputs-modals {
  width: 100%;
  height: 50%;
  align-self: center;
}
.botoes-sidebar-nav {
  width: 80%;
  height: 2.5rem;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.2s;
  border-radius: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.botoes-sidebar-perfil {
  width: 33%;
  justify-content: center;
  background-color: rebeccapurple;
}
.texto-logo {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 2rem;
  align-self: center;
  text-align: center;
  font-family: Pacifico;
  font-weight: 700;
  text-decoration: underline;
}
.botoes-com-border {
  border-color: #e92b2b;
  border-width: 0.15rem;
  border-radius: 0.75rem;
}
.botoes-com-border:hover {
  transform: scale(1.1);
  transition: 0.15s;
}
.botoes-header {
  width: 3rem;
  height: 80%;
  align-items: center;
  justify-content: center;
  background-color: rebeccapurple;
}
.botoes-troca-cor-efeito-hover-sidebar {
  color: var(--dl-color-gray-white);
  transition: 0.2s;
  background-color: var(--dl-color-pimary-laranjavivo);
}
.botoes-troca-cor-efeito-hover-sidebar:hover {
  background-color: rebeccapurple;
}
.componentes-litas {
  width: 100%;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: flex-start;
  background: rebeccapurple;
  flex-direction: column;
}
.sidebar-open{
  width: 20%;
}

.sidebar-closed{
  width: 0%;
}

.icons-botoes-header{
  fill: var(--dl-color-pimary-laranjavivo);
  align-self: center;
}
.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}

@media(max-width: 991px) {
  .icons-sidebar-nav {
    width: var(--dl-size-size-doubleunit);
    height: var(--dl-size-size-doubleunit);
    margin: var(--dl-space-space-halfunit);
  }
  .icons-sidebar-perfil {
    fill: var(--dl-color-gray-white);
    width: var(--dl-size-size-doubleunit);
    height: var(--dl-size-size-doubleunit);
    margin: 0.3rem;
  }
  .texto-botoes-perfil-sidebar {
    display: none;
  }
  .botoes-sidebar-nav {
    width: auto;
    height: auto;
  }
  .botoes-sidebar-perfil {
    width: auto;
    height: auto;
    background-color: var(--dl-color-pimary-laranjavivo);
    margin-top: 1rem;
  }
  .botoes-com-border {
    border-width: unset;
  }
  .mobile-sidebar-containers-perfil-nav {
    width: auto;
    height: 75%;
    border-color: black;
    border-width: 0.25rem;
    padding-left: var(--dl-space-space-halfunit);
    border-radius: 2rem;
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: row;
  }
  .icons-botoes-menuCard {
    margin: 0.25rem;
  }
  .containers-lista-e-sidebar {
    flex-direction: column-reverse;
  }
}
@media(max-width: 767px) {
  .icons-sidebar-nav {
    width: 1.5rem;
    height: 1.5rem;
  }
  .icons-listas {
    margin-left: 0;
  }
  .icons-sidebar-perfil {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.1rem;
  }
}
@media(max-width: 479px) {
  .icons-sidebar-nav {
    margin: 0.25rem;
  }
  .botoes-sidebar-nav {
    margin-right: 0.1rem;
  }
}
